.carloniContainer {
  /* background-color:  #132F50F2;; */
  /* clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0% 100%); */
  background-image: url("../../../Asset/Page1/Rectangle13.png"),
    url("../../../Asset/Page1/Vector13.png");
  background-repeat: no-repeat;
}

.carloni-section {
  padding: 0% 15% 0% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* background-image: url("../../../Asset/Page1/Rectangle\ 35.png"); */
}
.carloniBtn {
  background-color: #f5f05e;
}
.carloniContent {
  position: relative;
}
.boxArrow {
  position: absolute;
  background-image: url("../../../Asset/Page1/Rectangle35.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: -65%;
  right: -42.9%;
  background-color: #f5f05e;
  height: 80px;
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .carloni-section {
    padding: 5% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .carloni-section > div > img {
    margin-top: 15%;
  }
  .carloniContent > h1 {
    font-size: xx-large;
  }
  .carloniContent > p {
    font-size: large;
  }
  .carloniContainer {
    /* height: 2500px !important;
    width: 100%;
   */
    background-size: 185rem;
  }
  .boxArrow {
    position: absolute;
    background-image: url("../../../Asset/Page1/Rectangle35.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: -11%;
    right: -5%;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }
}

/*--------------------------------------
        Responsive For Tablet 
--------------------------------------*/

@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
  .aboutCarloni {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .carloniDetails {
    margin-left: 1rem;
  }
  .carloni-section {
    padding: 0% 5%;
  }
  .carloni-section > div > img {
    width: 100%;
  }
  .carloniContent > h1 {
    font-size: large;
    margin-top: 15%;
  }
  .carloniContent > p {
    font-size: small;
  }
  .boxArrow {
    bottom: -15%;
    right: -11%;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1424px) {
  .boxArrow {
    bottom: -12%;
    right: -0%;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }
  .carloniContent > h1 {
    margin-top: 27%;
    font-size: x-large;
  }
  .carloniContent > p {
    font-size: small;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1424px) {
  .boxArrow {
    bottom: -11%;
    right: -42.8%;
  }
  .carloni-section {
    align-items: end;
    /* background-image: url("../../../Asset/Page1/Rectangle\ 35.png"); */
  }
  .carloniContent > h1 {
    margin-top: 19%;
    font-size: large;
    
  }
  .carloniContent > p {
    font-size: small;
    margin: 0%;
  }
  .carloniBtn {
    background-color: #f5f05e;
    font-size: x-small;
    margin: 0%;
    
  }
  .btnSection>p{
font-size: x-small;

  }
}
