.carloniContainer {
  /* background-color:  #132F50F2;; */
  /* clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0% 100%); */
  background-image: url("../../../Asset/Page1/Rectangle13.png"),
    url("../../../Asset/Page1/Vector13.png");
  background-repeat: no-repeat;

}

.carloni-section {
  padding: 0% 15% 0% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
justify-content: center; */
  align-items: center;
  /* background-image: url("../../../Asset/Page1/Rectangle\ 35.png"); */
}

.carloniBtn {
  background-color: #f5f05e;
  padding: 16px 32px;
}

.carloniContent {
  position: relative;
}

.carloniContent>h1 {
  Font-family: Barlow;
  font-weight: Bold;
  Font-size: 42px;
  Line-height: 50px;
}

.boxArrow {
  position: absolute;
  background-image: url("../../../Asset/Page1/Rectangle35.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: -55%;
  right: -42.5%;
  background-color: #f5f05e;
  height: 80px;
  width: 80px;
}

.rightArrow p {
  font-size: 16px;
  white-space: nowrap;
}

.rArrow {
  margin-left: 10px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
/* .carloniContainer {
  background-image: url("../../../Asset/Page1/Rectangle13.png"),
    url("../../../Asset/Page1/Vector13.png");
  background-repeat: no-repeat;

} */
  .carloni-section {
 background-image: url("../../../Asset/Page1/Rectangle13.png"),
    url("../../../Asset/Page1/Vector13.png");
  background-repeat: no-repeat;

    padding: 0% 5% 0% 5%;
    display: flex;
    flex-direction: column-reverse !important;
    row-gap: 1rem;
  }

  .carloni-section>div>img {
    margin-top: -18px !important;
    /* margin-top: 5% !important; */
  }

  .carloniContent>h1 {
    font-size: xx-large;
    margin-top: 53%;
  }

  .carloniContent>p {
    font-size: large;
  }

  .carloniContainer {
    /* height: 2500px !important;
    width: 100%;
   */
    background-size: 198rem;
  }

  .boxArrow {
    /* position: absolute;
    background-image: url("../../../Asset/Page1/Rectangle35.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: -100%;
    right: -5%;
    background-color: #f5f05e;
    height: 80px;
    width: 80px; */
    display: none;
  }

  .carloniBtn {
    padding: 3px 10px;
  }
}

/*--------------------------------------
        Responsive For Tablet 
--------------------------------------*/

@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
  .aboutCarloni {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .carloniDetails {
    margin-left: 1rem;
  }

  .carloni-section {
    padding: 0% 5% !important;
  }

  .carloni-section>div>img {
    width: 100%;
  }

  .carloniContent>h1 {
    font-size: large;
    margin-top: 15%;
  }

  .carloniContent>p {
    font-size: small;
  }

  .boxArrow {
    bottom: -15%;
    right: -11%;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 780px) {

  .aboutCarloniImg {
    margin-bottom: -46% !important;
  }

  .carloniContent>h1 {
    font-size: 32px;
    margin-top: 45% !important;

  }

  /* .carloni-section>div>img {
    width: 100%;
    margin-left: -10% !important;
  } */

  .boxArrow {
    bottom: -10%;
    right: -11%;

  }
}

@media only screen and (min-device-width: 778px) and (max-device-width: 1034px) {
  .carloni-section {
    padding: 0% 10% 0% 10%;
  }

  .carloni-section {
    align-items: end;

  }

  .carloniContent>h1 {
    font-size: 32px;
    margin-top: 36% !important;
    margin-bottom: 5%;

  }

  .carloni-section>div>img {
    width: 100%;
    height: 100%;
    margin-left: -0% !important;
  }

  .boxArrow {
    bottom: -10%;
    left: 105% !important;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }

  .carloniContent>p {
    font-size: medium;
    margin: 0%;
  }

}

@media only screen and (min-device-width: 1035px) and (max-device-width: 1450px) {

  .carloni-section {
    padding: 0% 10% 0% 10%;
  }

  .boxArrow {
    bottom: -12%;
    /* right: -42.8%; */
    left: 110% !important;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }

  .carloniContent>h1 {
    margin-top: 27%;
    Font-family: Barlow;
    font-weight: Bold;
    Font-size: 42px;
    Line-height: 50px;
  }

  .carloni-section>div>img {
    width: 100%;
  }

  .carloniContent>p {
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 1450px) and (max-device-width: 1824px) {
  .boxArrow {
    bottom: -12%;
    /* right: -42.8%; */
    left: 127% !important;
    background-color: #f5f05e;
    height: 80px;
    width: 80px;
  }

  .carloniContent>h1 {
    margin-top: 27%;
    font-size: x-large;
  }

  .carloniContent>p {
    font-size: small;
  }
}