.serviceBannerContainer {
  background-image: linear-gradient(115.66deg, #18314b 9.36%, #14283e 49.81%);
  padding: 5% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
}

.highliteText {
  color: #f5f05e;
  font-family: "Barlow", sans-serif;
}


@media only screen and (max-width: 600px) {
  .serviceBannerContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center !important;
    padding: 5% 5%;
    height: 70rem;
    width: 100%;
    row-gap: 2rem;
  }
  .bannerContent div {
    font-size: x-large;
    line-height: 15px;
  }
  .bannerImg {
    width: 15rem;
    height: 20rem;
    margin-top: 2rem;
    float: right !important;
  }

  .serviceContent > h3 {
    font-size: medium;
  }
}

@media only screen and (min-device-width: 578px) and (max-device-width: 1000px) {
  .serviceBannerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 5% !important;
    align-items: center;
    /* height: 36rem;
      width: 100%; */
  }
  .serviceContent > h2 {
    font-size: xx-large;
  }
  .serviceContent > h3 {
    font-size: large;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1440px) {
  .bannerContainer {
    height: 48rem;
  }
  .bannerImg {
    width: fit-content;
  }
  .serviceBannerContainer {
    padding: 5% 10% !important;
  }
}
