.serviceBannerContainer {
  background-image: linear-gradient(115.66deg, #18314b 9.36%, #14283e 49.81%);
  padding: 5% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
}

.highliteText {
  color: #f5f05e;
  font-family: "Barlow", sans-serif;
}

.serviceContent>h2 {
  font-family: Barlow;
  Font-family: Barlow;
  Font-style: Bold;
  Font-size: 62px;
  Line-height: 82px;
  color: white;
}

.serviceContent>h3 {
  font-family: Barlow;
  font-weight: 500;
  Font-size: 36px;
  Line-height: 43px;
  color: white;
}

.serviceContent>p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .serviceBannerContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center !important;
    padding: 5% 5%;
    height: 89rem;
    width: 100%;
    row-gap: 2rem;
  }

  .serviceContent>h2 {
    Font-size: 36px;
    Line-height: 42px;
  }

  .serviceContent>h3 {
    Font-size: 24px !important;
    Line-height: 28px !important;
    color: white;
  }

  .bannerImg {
    width: 15rem;
    height: 20rem;
    margin-top: 2rem;
    float: right !important;
  }

  .serviceContent>h3 {
    Font-family: Barlow;
    font-weight: 600;
    Font-size: 36px;
    Line-height: 43px;
  }
}

@media only screen and (min-device-width: 578px) and (max-device-width: 1034px) {
  .serviceBannerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 5% !important;
    align-items: center;
    /* height: 36rem;
      width: 100%; */
  }

  .serviceContent>h2 {
    font-size: 46px;
  }

  .serviceContent>h3 {
    font-size: 28px;
    font-weight: 600;
  }
}

@media only screen and (min-device-width: 1035px) and (max-device-width: 1440px) {
  .bannerContainer {
    height: 48rem;
  }

  .bannerImg {
    width: fit-content;
  }

  .serviceBannerContainer {
    padding: 5% 10% !important;
  }
}