.testimonialContainer {
  padding: 5% 15%;
  background-image: url("../../../Asset/Page1/Rectangle\ 69.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.contentTestimonial {
  background-color: #133e6d;
}
.contentTestimonial > div > h1 {
  font-family: Barlow;
  font-style: Bold;
  font-size: 42px;
  line-height: 58px;
}

@media only screen and (max-width: 600px) {
  .contentTestimonial {
    padding: 0px;
  }
  .contentTestimonial > div > h1 {
    font-size: large;
    line-height: 24px;
  }
  .contentTestimonial > div > p {
    font-size: small;
  }
  .contentTestimonial > div > h3 {
    font-size: small;
  }
  .testimonialContainer {
    margin-bottom: 45%;
    padding: 5% 5%;
  }
  .quotaionImg {
    height: 2rem;
    margin: 0%;
    margin: 1rem 0rem;
  }
  .arrowButton {
    bottom: 5px;
    
  }
}

@media only screen and (min-device-width: 578px) and (max-device-width: 1048px) {
  .testimonialContainer {
    margin-bottom: 15%;
    padding: 5% 10%;
  }
  .contentTestimonial > div > h1 {
    font-size: xx-large;
    line-height: 36px;
  }
  .contentTestimonial > div > p {
    font-size: 16px ;
    /* line-height: 36px; */
  }
  .quotaionImg {
    margin-top: 15px !important;
  }
  .contentTestimonial {
    padding: 15px 0px !important;
  }
  .arrowButton {
    bottom: 10px !important;

  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1484px) {
  .testimonialContainer {
    margin-bottom: 15%;
    padding: 5% 10%;
  }
  .contentTestimonial > div > h1 {
    font-size: xx-large;
  }
  .contentTestimonial > div > p {
    font-size: medium;
  }
  .contentTestimonial > div > h3 {
    font-size: small;
  }
  .quotaionImg {
    height: 2rem;
    margin: 0%;
    margin-bottom: 1rem;
  }
}
