.servicesSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
}

.servicesContainer {
  padding: 5% 15%;
}

.serviceTitle {
  color: #001e3e;
  Font-family: Barlow;
  font-weight: Bold;
  Font-size: 42px;
  Line-height: 50px;
}

.serviceDescription>p {
  color: #2d2d2d;
  text-align: start;
}

.serviceCards {
  width: 410px;
  height: 323px;
  border-radius: 10px;
  box-shadow: rgba(15, 36, 167, 0.07);
  padding: 30px;
}

.serviceCards:hover {
  box-shadow: rgba(28, 30, 43, 0.1) !important;
}

.serviceDescription>h2 {
  color: #001e3e;
  font-family: Barlow;
  font-size: 26px !important;
  font-family: Barlow;
  font-style: SemiBold;
  margin-bottom: 18px;
  line-height: 31px;
}

.serviceDescription>p {
  color: #001e3e;
  font-size: 16px !important;
  font-family: Barlow;
  font-style: SemiBold;
  line-height: 24px;
}

.serviceSubTitile {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  color: #001e3e;
  margin-top: 15px;
}

.serviceIcon {
  width: 60px;
  height: 60px;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .servicesSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 10px; */
    row-gap: 30px;
  }

  .serviceCards {
    width: 98%;
    height: 100%;
    padding: 20px;
  }

  .servicesContainer {
    padding: 5% 5% !important;
  }

  .serviceTitle {
    font-size: 24px;
  }

  .serviceSubTitile {
    font-size: 16px;
  }

  .serviceDescription>h2 {
    font-size: 24px !important;
  }

  .serviceDescription>p {
      color: #001e3e;
        font-size: 16px !important;
        font-family: Barlow;
        font-style: SemiBold;
        line-height: 24px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 776px) {
  .servicesSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 25px; */
    row-gap: 35px !important;
    column-gap: 25px;
  }

  .serviceCards {
    width: 90%;
    height: 100%;
    padding: 20px;
  }

  .servicesContainer {
    padding: 5% 5% !important;
  }
}

@media only screen and (min-device-width: 776px) and (max-device-width: 1034px) {
  .servicesSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
.serviceTitle {
  Font-size: 36px;
  Line-height: 50px;
}
  .serviceCards {
    width: 90%;
    height: 100%;
    padding: 20px;
  }

  .servicesContainer {
    padding: 5% 5% !important;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1448px) {
  .servicesContainer {
    padding: 5% 10% !important;
  }

  .serviceCards {
    width: 90%;
    height: 100%;
    padding: 20px;
  }
}