.footerContainer{
    background-image: url("../../../Asset/Page1/Rectangle61.png");
    background-size: cover;
    padding: 5% 15% ;
}
.downFooter{
    padding: 2% 15% ;
   justify-content: space-between;
}

.facebookBtn:hover {
    color: #4267B2 !important;
    border: 2px solid #4267B2 !important;
    background-color: white;
}
.twitterBtn:hover {
    color: #1DA1F2 !important;
    border: 2px solid #1DA1F2 !important;
    background-color: white;
}
.linkedInBtn:hover {
    color: #0E76A8 !important;
    border: 2px solid #0E76A8 !important;
    background-color: white;
}
.InstaBtn:hover  {
    color: #ec520a !important;
    border: 2px solid #ec520a !important;
    background-color: white;
}
.InstaBtn:hover svg {
    color: #ec520a !important;
}

@media only screen and (max-width: 600px) {
    .footerContainer{
        padding: 5% 5% ;
    }
    .downFooter{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: start ;
        padding: 0% !important;
        padding: 0% 5% !important;
        
    }
    .downFooter >p{
        padding: 0% !important;
        margin-bottom: 1rem;
    }
    .downFooter> img{
     float: left !important; 
     flex: none;
     margin-right: 0% auto !important;
    }
}


/*--------------------------------------
          Responsive For Tablet 
 --------------------------------------*/

 @media only screen and (min-device-width: 578px) and (max-device-width: 1024px) {
    .footerContainer{
        padding: 5% 10% ;
    }
    .how-work-container{
        padding: 5% 5% ;
        background-size: cover;
    }
    .how-work-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 5px;
    }
    .downFooter{
        flex-direction: column;
        
    }
    .downFooter >p{
        padding: 0% 15%;
        margin-bottom: 1rem;
    }
    .downFooter{
        /* display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5% 5% ; */
    
    }
    .downFooter> img{
      
    }
 }

 @media only screen and (min-device-width: 1000px) and (max-device-width: 1448px) {
    .footerContainer{
        padding: 5% 10% ;
    }
    .downFooter{
        padding: 2% 10% ;
    }
 }