.contactContainer {
  padding: 5% 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 5rem;
  display: flex; */
  align-items: center;
  justify-content: center;
  /* column-gap: 4rem; */
  margin-top: 18%;
}
.contactInfo {
  /* margin-right: 8%; */
}
.contactInfo > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #001e3e;
  margin-top: 1rem;
  /* font-family: 'Barlow', sans-serif; */
}
.googlemap {
  height: 29.1rem;
  width: 45.8rem;
}
.contactInfo > h1 {
  text-align: end;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  font-family: Barlow;
}
.contactUnderline {
  background-image: url("../../../Asset/Page1/Rectangle72.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
}

@media only screen and (max-width: 600px) {
  .contactContainer {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
    /* align-items: center; */
   
  }
  .contactUnderline {
    background-size: 45%;
  }
  .contactInfo {
  }
  .googlemap {
    height: 29.2rem;
    width: 100%;
    margin: 0 auto;
  }
  .contactInfo > h1 {
    text-align: end;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-top: 17%;
  }
  .contactInfo > p {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 1rem;
  }
}

/*--------------------------------------
        Responsive For Tablet 
--------------------------------------*/
 
@media only screen and (min-device-width: 576px) and (max-device-width: 778px) {
  .contactContainer {
    padding: 5% 10% !important;
    display: flex;
    column-gap: 3rem;
    justify-content: start;
    margin-top: 10% !important;
  }
  .googlemap {
    height: 25rem;
    width: 100%;
  }
  .contactInfo > h1 {
    text-align: end;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-top: 17%;
  }
  .contactInfo > p {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 1rem;
  }
}

@media only screen and (min-device-width: 776px) and (max-device-width: 1140px) {
  .contactContainer {
    padding: 5% 10% !important;
    display: flex;
    column-gap: 3rem;
    justify-content: start;
  }
  .googlemap {
    height: 25rem;
    width: 30rem !important;
  }
  .contactInfo > h1 {
    text-align: end;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-top: 17%;
  }
  .contactInfo > p {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 1rem;
  }
}

@media only screen and (min-device-width: 1040px) and (max-device-width: 1448px) {
  .googlemap {
    height: 29.2rem;
    width: 100%;
  }
  .contactContainer {
    padding: 0% 10%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    margin-top: 10%;
  }
  .contactUnderline {
    background-size: 46%;
  }
}
@media only screen and (min-device-width: 1400px) and (max-device-width: 2524px) {
  .contactContainer {
    margin-top: 5% !important;
  }
} 
