.mapHeading {
  padding: 0% 22.5% ;
}
.contactMap {
  width: 1052px;
  height: 34.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactInformation {
  /* background-image: url("../../Asset/Contact/Carloni.png");
  background-repeat: no-repeat;
  background-position: right top; */
  background-color: #133e6d;
  height: 649px;
  width: 1037px;
  padding: 4rem 3rem;
  margin: 0 auto;
  margin-top: 15%;
  position: relative;
}
.contactInformation > h1 {
  font-family: Barlow;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 58px;
  line-height: 101%;
  color: #ffffff;
}

.crloniImg {
  position: absolute;
  top: -30%;
  right: -20%;
}
