.navContainer {
  padding: 0% 15%;
}
.headerBtn {
  /* margin: 0px;
    padding: 0px; */
background-color: #133e6d;
padding: 14px 34px;
}

.navLogo {
  width: 134px;
  height: 62px;
  padding: 5% 0%;
}

.navLink {
  margin-left: 12%;
}

#sidebar a.active {
  background-image: url("../../../Asset/Page1/Rectangle72.png");
  background-repeat: no-repeat;
  background-position: bottom;
  /* margin-top: 20%; */
  padding: 5px;
}
#sidebar:hover {
  background-image: url("../../../Asset/Page1/Rectangle72.png");
  background-repeat: no-repeat;
  background-position: bottom;
  /* margin-top: 20%; */
  /* padding-top: 5px; */
}

@media only screen and (max-width: 600px) {
  .navContainer {
    padding: 0% 5% !important;
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    /* flex-direction: row-reverse; */
    justify-content: space-between !important;
    
  }
  .navLogo {
    width: 100px;
    height: 40px;
    padding: 5% 0%;
  }
  .headerBtn {
    height: 5px !important;
    width: 5.8rem;
    font-size: small;
    margin: 0%;
    padding: 0%;
    background-color: #133e6d;
  }
  #sidebar:hover {
    background-size: 0px 80px !important;
  }
}

@media only screen and (min-device-width: 578px) and (max-device-width: 1024px) {
  .navLink {
    margin-left: 5%;
    justify-content: start;
  }
  .navbar {
    /* flex-direction: row-reverse; */
    justify-content: space-between !important;
    
  }
  .navContainer {
    padding: 0% 10% !important;
  }
  .headerBtn {
    margin-left: 5px !important;
    background-color: #133e6d;
    font-size: medium;
  }

  #sidebar:hover {
    background-size: 0px 80px !important;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1448px) {
  .navLink {
    margin-left: 5%;
  }
  .navContainer {
    padding: 0% 10% !important;
  }
  
}
