.bannerContainer {
  /* background-color: #133e6d; */
  background-image: linear-gradient(115.66deg, #18314b 9.36%, #14283e 49.81%);
  padding: 5% 15%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* font-family: "Barlow"; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
  height: 52rem;
}
.bannerContent > div {
  font-family: Barlow;
  font-style: Bold;
  font-size: 62px;
  line-height: 82px ;
  line-height: 110%;
}

.highliteText {
  color: #f5f05e;
  font-family: "Barlow", sans-serif;
}

.bannerImg {
  width: 687px;
  height: 662px;
  /* left: 966px; */
  /* top: 261px; */
  /* margin-bottom: %; */
  margin-top: 11.3%;
}
/* .servicesBannerImg{
  width: 42.8rem;
  height: 41.3rem;
} */

@media only screen and (max-width: 600px) {
  .bannerContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center !important;
    padding: 10% 5%;
    height: 41.4rem;
    width: 100%;
  }
  .bannerContent div {
    font-size: 38px !important;
    line-height: 50px !important;
  }
  .bannerImg {
    width: 100% !important;
    height: 20rem;
    margin-top: 2rem;
    float: right !important;
  }


}

@media only screen and (min-device-width: 578px) and (max-device-width: 1048px) {
  .serviceBannerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 5% !important;
    align-items: center;
    /* height: 36rem;
    width: 100%; */
  }
  .bannerContainer {
    padding: 0% 10% !important;
  }
 
  .bannerImg {
    width: 120%;
    height: 90%;
    margin-top: 2rem;
    float: right !important;
  }
  .bannerContainer {
    height: 35rem !important;
  }
  .bannerContent > div {
    font-family: Barlow;
    font-style: Bold;
    font-size: 42px;
    line-height: 52px;
  }
}

@media only screen and (min-device-width: 1049px) and (max-device-width: 1448px) {
  .bannerContainer {
    height: 53rem !important;
    padding: 5% 10% ;
  }
  .bannerImg {
    width: fit-content;
  }
  .bannerContent > div {
    font-size: 54px;
  }
}
