.aboutCarloni{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5% 10%;
}
.carloniDetails{
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .carloniDetails{
        width: 100%;
    }
    .carloniDetails >h1{
        font-size: 32px;
    }
    .aboutCarloni{
        flex-direction: column;
    }
    .aboutCarloni{
      
        padding: 5% 5%;
    }
}


/*--------------------------------------
          Responsive For Tablet 
 --------------------------------------*/

 @media only screen and (min-device-width: 578px) and (max-device-width: 1000px) {
    .aboutCarloni{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 5% 5%;
    }
    .carloniDetails{
        width: 50%;
    }
 }

 @media only screen and (min-device-width: 1000px) and (max-device-width: 1448px) {
   
  }