.reviewContainer {
  padding: 5% 15%;
}
.reviewSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .reviewContainer {
    padding: 5% 5%;
  }
  .reviewSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}
