.dealContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* grid-template-columns: repeat(2, 1fr); */
  padding: 5% 12%;
  column-gap: 5rem;
}
.dealExampleSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 45% !important;
  row-gap: 7.3rem;
  column-gap: 3.8rem;
}
.ExampleImage{
  width: 40% !important;
}
.ExampleDetails h1 {
  color: #001e3e;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1rem;
}
.dealHeading {
  color: #001e3e;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .dealExampleSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    width: 100% !important;
    /* row-gap: 2.3rem; */
    row-gap: .3rem;
    margin-top: 1rem !important;
    row-gap: 2.3rem !important;
  }
  .dealContainer {
    flex-direction: column;
    padding: 5% 5%;
  }
  .ExampleDetails {
    margin-top: 7%;
  }
  .ExampleImage {
    margin-top: 12%;
    width: 90% !important;
    margin-bottom: 5%;
  }
}

/*--------------------------------------
        Responsive For Tablet 
--------------------------------------*/

@media only screen and (min-device-width: 578px) and (max-device-width: 1000px) {
  .dealExampleSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90% !important;
    row-gap: 2.3rem;
    /* margin-left: 1rem; */
  }
  .dealContainer {
    flex-direction: column;
    padding: 5% 5%;
  }
  .ExampleImage {
    margin-top: 10%;
    width: 90% !important;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1424px) {
  .ExampleImage {
    width: 50%;
  }
  .ExampleDetails h1 {
    font-size: 24px;
    line-height: normal;
    margin-bottom: .5rem;
  }
  .dealExampleSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    width: 50%;
    row-gap: 7.3rem;
    column-gap: 2.8rem;
  }
  .dealContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 5% 12%;
    column-gap: 8%;
  }
}
