.aboutBannerComponent {
  padding: 6% 15%;
  background-image: url("../../../Asset/AboutPage/Bg.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-size: contain; */
}
/* .contactBannerComponent {
  padding: 6% 15%;
  background-image: url("../../../Asset/Contact/Bg.png");
  background-repeat: no-repeat; */
/* background-attachment: fixed; */
/* background-size: contain; */
/* } */
.testimonialBannerComponent {
  padding: 6% 15%;
  background-image: url("../../../Asset/tesimonial/TesimonialBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contactBannerComponent {
  padding: 6% 15%;
  background-image: url("../../../Asset/Contact/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.commonBannerComponent {
  padding: 6% 15%;
  background-image: url("../../../Asset/Details/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blogBannerComponent {
  padding: 6% 15%;
  background-image: linear-gradient(115.66deg, #18314b 9.36%, #14283e 49.81%);

  background-repeat: no-repeat;
  background-size: cover;
}
.commonBannerComponent > h1 {
  font-size: 62px;
  line-height: 82px;
  font-weight: 700;
  font-family: "Barlow";
  margin-top: 5px;
}
.commonBannerComponent > h3 {
  font-size: 32px;
  line-height: 38px;
  font-family: "Barlow";
}
@media only screen and (max-width: 600px) {
  .commonBannerComponent > h1 {
    font-size: xx-large;
    line-height: 35px;
    margin-top: 5px;
  }
  .commonBannerComponent > h3 {
    font-size: medium;
    line-height: 35px;
  }
}

/*--------------------------------------
        Responsive For Tablet 
--------------------------------------*/

@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
  .commonBannerComponent > h1 {
    font-size: xx-large;
    line-height: 35px;
    margin-top: 5px;
  }
  .commonBannerComponent > h3 {
    font-size: medium;
    line-height: 35px;
  }
}
