.work-us-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.card-body > h2 {
  font-family: Barlow;
  font-style: Bold;
  font-size: 42px;
  line-height: 50px;
}
.card-body > p {
  font-family: Poppins;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
}
.workUsContainer {
  padding: 5% 15%;
  background-image: url("../../../Asset/Page1/VectorBg.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
@media only screen and (max-width: 600px) {
  .workUsContainer {
    padding: 5% 5%;
    background-size: 110rem;
    background-attachment: fixed;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .work-us-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .card-body > h2 {
    font-size: xx-large;
    line-height: 40px;
  }

  .card-body > p {
    font-size: large;
  }
}

@media only screen and (min-device-width: 578px) and (max-device-width: 1000px) {
  .workUsContainer {
    padding: 5% 5%;
    background-size: 160rem;
    margin-top: 5%;
  }
  .work-us-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1448px) {
  .workUsContainer {
    padding: 5% 10%;
  }
  .card-body > h2 {
    font-size: 36px;
    line-height: 43px;
  }
}
